body{
  font-family: sans-serif;
  background-color: rgb(229, 243, 243);
}
a{
  letter-spacing: 2px;
  margin-left:10px;
  margin-right:10px;
  font-weight: 700;
  color: rgb(145, 96, 224);
  text-decoration: none;
  border: 2px block;
}
.navbar__menu {
    font-family: 'Trocchi', serif; 
    font-size: 25px; 
    font-weight: normal; 
    line-height: 48px; 
    margin: 0;
    text-align: center;
}
.main__text-description {
  text-align: left;
  font-family: 'Inder', sans-serif; 
  line-height: 28px; 
  margin-bottom: 15px;
}
.main__text-heading {
  font-family: 'Trocchi', serif; 
  font-size: 45px; 
  font-weight: normal; 
  line-height: 48px; 
  margin: 0;
  text-align: center;
 }
.main_image {
  width: 45%;
}
.sub_image{
  width: 70%;
  align-items: center;
}
.center{
  text-align: center;
}
#p0{
  text-indent: 2em;
}
#p1{
  text-align: center;
}